<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="diiguNature"
         name="Diigu Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.seasar.diigu.eclipse.builder.DiiguNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="org.seasar.diigu.eclipse.preferences.DiiguProjectPreferencePage"
            id="diiguPropertyPage"
            name="Diigu"
            objectClass="org.eclipse.core.resources.IProject"/>
      <page
            adaptable="true"
            class="org.seasar.diigu.eclipse.preferences.DiiguProjectPreferencePage"
            id="diiguPropertyPage.java"
            name="Diigu"
            objectClass="org.eclipse.jdt.core.IJavaProject"/>
      <page
            adaptable="true"
            class="org.seasar.diigu.eclipse.preferences.DiiguClassPropertyPage"
            id="diiguClassPropertyPage"
            name="Diigu"
            objectClass="org.eclipse.jdt.core.ICompilationUnit"/>
      <page
            adaptable="true"
            class="org.seasar.diigu.eclipse.preferences.DiiguClassPropertyPage"
            id="diiguClassPropertyPage"
            name="Diigu"
            nameFilter="*.java"
            objectClass="org.eclipse.core.resources.IFile"/>
      <page
            adaptable="true"
            class="org.seasar.diigu.eclipse.preferences.DiiguClassPropertyPage"
            id="diiguClassPropertyPage.type"
            name="Diigu"
            objectClass="org.eclipse.jdt.core.IType"/>
   </extension>
   <extension
         id="diiguMarker"
         name="Diigu Error Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="diiguMarkerResolution"
         name="Diigu Marker Resolution"
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.seasar.diigu.eclipse.marker.MarkerResolutionGenerator"
            markerType="org.seasar.diigu.eclipse.diiguMarker"/>
   </extension>
   <extension
         id="diiguStartup"
         name="Diigu Startup Worker"
         point="org.eclipse.ui.startup">
      <startup class="org.seasar.diigu.eclipse.startup.DiiguStartup"/>
   </extension>
</plugin>
