<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="diiguNature"
         name="Diigu Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.seasar.diigu.eclipse.builder.DiiguNature">
         </run>
      </runtime>
      <builder
            id="org.seasar.diigu.eclipse.diiguBuilder">
      </builder>
   </extension>
   <extension
         id="diiguBuilder"
         name="Diigu Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            isConfigurable="true">
         <run
               class="org.seasar.diigu.eclipse.builder.DiiguBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="org.seasar.diigu.eclipse.preferences.DiiguProjectPreferencePage"
            id="diiguPropertyPage"
            name="Diigu"
            objectClass="org.eclipse.core.resources.IProject"/>
      <page
            adaptable="true"
            class="org.seasar.diigu.eclipse.preferences.DiiguProjectPreferencePage"
            id="diiguPropertyPage"
            name="Diigu"
            objectClass="org.eclipse.jdt.core.IJavaProject"/>
   </extension>
</plugin>
