body {
    padding:0;
    background:#FFFFFF;
}

td, th {
  font-size: small;
}
.title {
  font-size: large; 
  font-weight: bold;
  color: #5671A0;
}
.small {
  font-size: 70%;
  color: white;
}
.small a, small a:visited {
  color: white;
}
.smalltitle {
  font-size: small;
  font-weight: bold;
  color: #5671A0;
}
.toolbar {
  padding: 4px; 
  background-color: #7694C8;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.box {
  border: thin solid #7694C8;
}
.label {
  background-color: #ffffcc;
}
.error {
  background-color: red;
  color: white;
}
.display {
  display: inline;
}
.notdisplay {
  display: none;
}

.level0 {
}
.level1 {
}

.body {
    margin-left:188px;
}
.header {
    padding:4px;
}
.menu {
    background:#FC0;
    padding:0;
    position:absolute;
    width:120px;
    top:145px;
}
.tablebg {
  background-color: #EEF3FB;
}
.oddRow {
  background-color: #FFFFFF;
}
.evenRow {
  background-color: #EEF3FB;
}
.gridHeader {
	background-color: green;
	color: white;
	font-weight: bold;
	overflow: hidden;
}
.gridTable {
	background-color: black;
}
.gridCell {
	height: 25px;
}
.gridCellEdit {
	border-width: 1px;
	background-color: #FFC0CB;
}
.row_odd {
	background-color: white;
}
.row_even {
  background-color: #EEF3FB;
}
